<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
  <title>MagAOX Online Tool Results</title>
  <style type="text/css">
      h1{
        text-align: center;
       }
       h2{
        padding: 20px;
       }
       .header {
          overflow: hidden;
          background-color: #3f1f69;
          padding: 20px 10px;
        }
        .header a:hover {
          background-color: #ddd;
          color: black;
        }

        .header a {
          float: left;
          color: white;
          text-align: center;
          padding: 12px; /* 12 to 10 */
          text-decoration: none;
          font-size: 18px;
          line-height: 25px;
          border-radius: 4px;
        }

        .header a.logo {
          font-size: 25px;
          font-weight: bold;
        }
        .header a.active {
          background-color: dodgerblue;
          color: white;
        }
        .header-right {
          float: right;
        }

  </style>
<body>
  <div class="header">
    <a href="https://www.amherst.edu">
      <img src="static/Amherst_A_Outlined_WhiteRGB.png" width="40" height="40" class="logo">
    </a>
    <a href="http://follettelab.com/">
      <img src="static/Lab.png" width="40" height="40" class="logo">
    </a>
    <a href="https://visao.as.arizona.edu/">
      <img src="static/X.png" width="40" height="40" class="logo">
    </a>

    <div class="header-right">
      <a class="active" href="test2.html">
        Home
      </a> <!-- change href="#home" to href="test2.html" -->
      <a href="about">
        About
      </a>
      <a href="resources">
        Resources
      </a>
    </div>
  </div>



  <div id="carouselControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="static/IMG_1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="static/IMG_2.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <h1>
    <title> Welcome to the MagAOX Catalog Tool </title> <!-- creates titles with h1 centerring it -->
  </h1>
  <h3>To use the web tool, please fill out all the parameters below (object name(s), observation date, rotator mode, rotator offset, and data to display) and click on the "submit" button. </h3>
  <h3>If observing more than one object, please enter all objects' names, separated by commas (eg. "Vega,Sirius,GQ Lupi,HD43691"). Any SIMBAD-resolvable name can be used for each object. </h3>
  <h3>Observation date can be entered through a calendar widget, accessible through a dropdown arrow on the right-hand side of the date entry box. </h3>
  <h3>Data for observations on a given day will range from sunset on that day to sunrise on the next day. </h3>
  <h3>
    For more information on Rotator Mode and Offset, please click
    <a href="http://www.lco.cl/telescopes-information/magellan/instruments/observing-catalogs/observing-catalogs-format">here.</a>
  </h3>
  <h3>This web tool can generate:
	  <ul>
		<li>a Magellan-formatted catalog entry for all object </li>
		<li>a spectral energy distribution plot for each object </li>
		<li>an airmass plot for all objects </li>
		<li>a visibility statistics plot for all objects </li>
	  </ul>
  </h3>
  <h3>Please select all the data data you want generated. The web tool will always generate the catalog entry. </h3>

  <h2>
    <form action="/" method="POST"> <!-- changing "action="/initial"" to "action="/"" -->
      <div class="form-group">
        Objects (Seperated by Commas)
        <input class="form-control" name="Objects" type="text" placeholder="ex. Vega, Sirius, ... HD43691" required>
      </div>
    </form>
   <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
    </form>
	<!--
      <div class="form-group">
        Start Time & Date In Military Time (YYYY-MM-DD HH:MM:SS)
        <input class="form-control" name="start_Date" type="text" placeholder="ex. 2020-07-19 22:00:00" required>
      </div>

      <div class="form-group">
        End Time & Date In Military Time (YYYY-MM-DD HH:MM:SS)
        <input class="form-control" name="end_Date" type="text" placeholder="ex. 2020-07-20 6:00:00" required>
      </div>
	-->
     <form action="/" method="POST">
      <div class="form-group">
        Date (YYYY-MM-DD)
        <input class="form-control" name="Date" type="date" required>
      </div>
      <div class="form-group">
        <label for="Mode">Rotator Mode:</label>
        <select name="Mode" name="Mode"> <!-- change id to name -->
          <option value="Off">Off</option>
          <option value="EQU">EQU</option>
          <option value="HRZ">HRZ</option>
          <option value="GRV">GRV</option>
        </select>
      </div>

      <div class="form-group">
        Rotator Offset (0.00°-360.00°)
        <input class="form-control" name="Offset" type="number" step="0.01" min="0.00" max="360.00" value="0.00"
      </div>
      
     <div>
      <button type="submit" class="btn btn-primary" >Submit</button>
     </div>
    </form>
  </h2>


</body>
</html>
